/* .div_app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.topbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
body{
  background-color: black;
  height: 100%;
}

.link{
  color: lightblue;
  margin: 10px;
}

.bottom{ 
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  background-color: black;
  color: white;
} */